*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    font-size:  0.8em;
}

.header{
    background-color: #fff;
}

a {
    color: #2b3f55;
    text-decoration: none;
}

.profile{
    width: 800px;
    margin: 0px auto;
    padding: 80px 0px;
}

.profile h1{
    color: #2b3f55;
}

.profile p{
    margin: 10px 0 10px; 
}

.profile .links{
    margin-top: 40px;
}

.profile .icon {
    width: 25px;
    margin-right: 10px;
}

.more {
    color: red;
}

.info{
    width: 800px;
    margin: 0px auto;
    padding: 20px 0px;
}

.info h3{
    color: #2b3f55;
    margin-left: 10px;
}

.info p{
    margin: 10px 0 10px; 
}

.info .icon{
    width: 18px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.edublock{
    background-color: #FFF0F5;
}

.jobblock{
    background-color: rgba(250,250,210,.5);
}

.studyblock{
    background-color: rgba(135,206,255,.5);
}

.edu, .job, .study{
    margin-top: 60px;
}

.edublock, .jobblock, .studyblock {
    display: inline-block;
    vertical-align: top;
}

.edu p, .job p, .study p {
    line-height: 3em;
}

.edublock {
    width: 30%;
    padding-bottom: 193px;
}

.jobblock {
    width: 30%;
    padding-bottom: 145px;
}

.studyblock {
    width: 30%;
}

.unity {
    text-indent: 39px
}

.rectangle, .star, .circle, .crec {
    position: absolute;
    top: 0px;
    left: 0px;
}

.rectangle {
    opacity: .5;
    animation-name: bubble;
    animation-duration: 23s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.star {
    opacity: .5;
    animation-name: bubble2;
    animation-timing-function: ease-in-out;
    animation-duration: 22s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

.circle {
    opacity: .5;
    animation-name: bubble3;
    animation-duration: 18s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bubble {
    from {
        transform: translate(-100px, 300px) rotate(0);
    }
    to {
        transform: translate(600px, -50px) rotate(300deg);
    }
}

@keyframes bubble2 {
    from {
        transform: translate(-50px, -150px) rotate(0);
    }
    to {
        transform: translate(1000px, 650px) rotate(800deg);
    }
}

@keyframes bubble3 {
    0% {
        opacity: 0;
        transform: translate(900px, 600px);
    }
    25% {
        opacity: .6;
    }
    100% {
        opacity: .8;
        transform: translate(950px, -200px);
    }
}

footer {
    text-align: center;
    font-size: .8em;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #aaabab;
}

@media screen and (max-width: 730px) {
    .edublock, .jobblock, .studyblock {
        display: block;
        vertical-align: top;
        width: 100%;
    }
}



